*{
    margin: 0;
    padding: 0;
    color: white;
}

html{
    background-color: var(--background);
}

html, body{
    overflow: hidden;
    font-family: 'Rethink Sans', sans-serif;
}

h1{ font-size: 7em; font-weight: 800; }

h4{ font-size: 1.15em; }

h5{ font-size: 0.95em; }

ul{
    list-style: none;
}

li{
    font-size: 0.85em;
}

.viewport{
    width: 100dvw;
    height: 100dvh;
}

.centrado_absolute{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

#loadSVGs{
    position: absolute;
    top: -5000%;
    left: -5000%;
}

#loadingScreen{
    background-color: #242936;
}
    #loadingScreen > *{
        position: absolute;
        left: 50%;
        translate: -50% -50%;
    }
    #loadingScreen > .UFO{
        top: 25%;
    }
    #loadingScreen > h2{
        top: calc(25% + 400px);
    }

#divSlider{
    position: absolute;
    bottom: 0;
    left: 50%;
    translate: -50% 0;
    width: 95%;
    margin-bottom: 32px;

    display: flex;
    flex-direction: column;
}

#divSlider > * {
    position: relative;
    width: 100%;
}

    #labelAnos {
        list-style: none;
        display: flex;
        height: 50px;
    }

    #aparecimentosMany{
        position: absolute;
        translate: -50% -50%;
        opacity: 0;
        transition: opacity 200ms;
    }
        #aparecimentosMany.show{ opacity: 1;}

    #labelAnos > li{
        flex-grow: 1;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }

        #labelAnos > li:has(span.onit){ z-index: 1; }

    #labelAnos > li > div{
        translate: 0 -60px;
        margin: 0 10%;
        opacity: 0.25;
        background-color: white;
        text-wrap: nowrap;

        @media (max-width: 1400px) {
            margin: 0 2px;
        }

        @media (max-width: 1200px) {
            margin: 0 1px;
        }
    }

        #labelAnos > li > div:hover{ opacity: 0.75;}

        #labelAnos > li:has(span.onit) > div{
            opacity: 1;
            background-color: var(--verde);
        }
        #labelAnos > li:has(span.notexist) > div{ opacity: 0.1; }

    #labelAnos > li > span{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        translate: -50% 0; 
        font-size: 0.7em;
        font-weight: 500;
        position: absolute;
        left: 50%;
        bottom: 10px;
        opacity: 0.8;
        scale: 1.1;
        transform-origin: bottom center;

                @media (max-width: 1500px) {
                    font-size: 0.6em;
                }

                @media (max-width: 1230px) {
                    font-size: 0.5em;
                }
    }

        #labelAnos > li > span.onit{
            font-weight: 700;
            scale: 1.5;
            font-size: 0.9em;
            color: var(--verde);
            
                    @media (max-width: 1500px) {
                        font-size: 0.7em;
                    }
        }

    #labelAnos > li > span.notexist{
        opacity: 0.2;
    }

            @media (max-width: 1050px) {
                #labelAnos > li > span:not(.onit){
                    opacity: 0;
                }
            }

    
    
    
    #sliderAnos{
        z-index: 1;
        appearance: none;
    }

        #sliderAnos::-webkit-slider-runnable-track{
            height: 24px;
            outline: none;
            background-color: rgba(166, 250, 60, 0.05)
        }
        #sliderAnos::-moz-range-track{
            height: 24px;
            outline: none;
            background-color: rgba(166, 250, 60, 0.05)
        }

        #sliderAnos::-webkit-slider-thumb{
            appearance: none;   
            height: 24px;
            width: 12px;
            background-color: white;
        }
        #sliderAnos::-moz-range-thumb{
            appearance: none;   
            height: 24px;
            width: 12px;
            background-color: white;
        }