svg#mapa{
    scale: 1.5;
}


svg#mapa g.piecharts > g > *{ stroke: none; }
/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
svg#mapa g.piecharts > g:not(.nenhum) > *{ transition: 150ms scale; }

    svg#mapa g.piecharts > g:not(.nenhum) > path.segundos   { fill: var(--azul); }
    svg#mapa g.piecharts > g:not(.nenhum) > path.minutos    { fill: var(--verde); }
    svg#mapa g.piecharts > g:not(.nenhum) > path.horas      { fill: var(--azul-2); }
    svg#mapa g.piecharts > g:not(.nenhum) > path.dias       { fill: var(--rosa-2); }
    svg#mapa g.piecharts > g:not(.nenhum) > path.trintaDias { fill: var(--verde-2); }
    svg#mapa g.piecharts > g:not(.nenhum) > path.anos       { fill: var(--rosa); }
    

    svg#mapa g.piecharts > g:not(.nenhum) > circle{ fill: white; }


/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
svg#mapa g.piecharts > g:not(.nenhum):focus > * {
    animation: animationOnFocus 1000ms infinite ease-in-out;
}
svg#mapa g.piecharts > g:not(.nenhum).over > * {
    animation: none;
    scale: 1.05;
}

    svg#mapa g.piecharts > g:not(.nenhum):focus > circle{
        stroke: rgba(255, 255, 255, 0.6);
        animation: animationOnFocusForCircle 1000ms infinite ease-in-out;
    }

    svg#mapa g.piecharts > g:not(.nenhum).over > circle{
        animation: none;
        stroke: rgba(255, 255, 255, 0.6);
        stroke-width: 3;
        filter: blur(4px);
    }

    svg#mapa:has(.over) g.piecharts > g:not(.nenhum):not(.over) > *,
    svg#mapa:has(g:not(.nenhum):focus) g.piecharts > g:not(.nenhum):not(.over):not(:focus) > *{
        filter: brightness(0.8);
        scale: 0.75;
    }

    svg#mapa g.piecharts > g:not(.nenhum):focus{
        outline: none;
    }

    @keyframes animationOnFocus {
        0%, 100%{ scale: 1 }
        50%{ scale: 1.1 }
    }

    @keyframes animationOnFocusForCircle {
        from{
            opacity: 1;
            stroke-width: 0;
            filter: blur(0px);
        }
        to{
            opacity: 0;
            stroke-width: 10;
            filter: blur(16px);
        }
    }




/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
svg#mapa g.piecharts > g.nenhum > circle{
    opacity: 0.2;
    fill: var(--verde)
}

    svg#mapa g.piecharts > g:not(.nenhum) > *:hover,
    svg#mapa g.labels > text:not(.nenhum):hover{
        cursor: pointer;
    }

    svg#mapa g.piecharts > g.nenhum > *:hover,
    svg#mapa g.labels > text.nenhum:hover{
        cursor: default;
    }


/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
#mapaDataInfo{
    position: absolute;
    background-color: black;

    padding: 8px;
    opacity: 0;
    z-index: -10;

    transition: opacity 300ms;
}
    #mapaDataInfo.show{
        opacity: 1;
        z-index: 1;
    }

    #mapaDataInfo > h4{
        margin-bottom: 8px;
    }

    #mapaDataInfo > #totalAparecimentos{
        font-style: italic;
    }

    #mapaDataInfo > ul > li.segundos:before     { content: "seconds: "; color: var(--azul); }
    #mapaDataInfo > ul > li.minutos:before      { content: "minutes: "; color: var(--verde); }
    #mapaDataInfo > ul > li.horas:before        { content: "hours: "; color: var(--azul-2); }
    #mapaDataInfo > ul > li.dias:before         { content: "days: "; color: var(--rosa-2); }
    #mapaDataInfo > ul > li.trintaDias:before   { content: "months (30days): "; color: var(--verde-2); }
    #mapaDataInfo > ul > li.anos:before         { content: "years: "; color: var(--rosa); }
    
        #msshape:before{ content: "most seen shape: "; font-weight: 500; font-style: italic;}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/
#iconHoverShapeData{
    position: absolute;
    translate: -50% -50%;
    width: 46px;
    height: 46px;
    opacity: 0;
    z-index: 100;
    scale: 0;
    transition: scale 200ms;
}

#mapaDataClick{
    position: absolute;
    background-color: var(--background-leve);
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 50px;

    position: absolute;
    top: 0;
    right: 0;

    height: 100dvh;
    width: 25%;
    max-width: 500px;
    min-width: 300px;

    z-index: 10;

    translate: 100% 0;
    transition: translate 200ms;

    text-align: center;

    font-size: 16px;
    overflow-y: auto;

                @media (max-width: 1720px) or (max-height: 800px){
                    font-size: 14px;
                }
}

                #mapaDataClick::-webkit-scrollbar{
                    width: 8px;
                }

                #mapaDataClick::-webkit-scrollbar-track{
                    background-color: rgba(60, 205, 250, 0.2);
                }

                #mapaDataClick::-webkit-scrollbar-thumb{
                    background-color: var(--azul);
                    border-radius: 4px;
                }

                #mapaDataClick::-webkit-scrollbar-thumb:hover{
                    background-color: white;
                }

    #mapaDataClick.show{
        translate: 0 0;
    }

    #mapaDataClick > h2{
        margin-top: 60px;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 2.2em;

                    @media (max-width: 1530px) or (max-height: 750px){
                        margin-top: 40px;
                    }
    }

    #mapaDataClick > h3{
        color: var(--verde);
        font-weight: 500;
        font-size: 1.3em;
    }

    #mapaDataClick > h4{
        margin-top: 10px;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 1.3em;
    }

    #radarShapeData{
        position: relative;
        aspect-ratio: 1 / 1;
                @media (max-width: 1420px) or (max-height: 730px){
                    margin: 0 7%;
                }
    }

    #mapaDataClick .filtroLegenda{
        fill: white;
        font-size: 12px;
        transition: opacity 200ms, font-size 200ms;
    }

    #mapaDataClick .filtroLegenda.onHover{
        font-size: 16px;
        opacity: 0;
    }

    #mapaDataClick .labelRaio{
        fill: rgb(200, 200, 200);
        font-size: 10px;
    }

    #mapaDataClick .tooltip{
        fill: white;
    }

    #mapaDataClick .tooltipSombra{
        filter: blur(20px);
        stroke-width: 20px;
        stroke: black;
        fill: black;
    }
    
    #radarFiltragemForm{
        margin: 0 40px;
        column-gap: 20px;
        row-gap: 6px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    #radarFiltragemForm > lable{
        flex-basis: calc((100% - 20px * 2) / 3);

        font-size: 0.95em;
        text-align: left;
    }
                    @media (max-width: 1600px){
                        #radarFiltragemForm{
                            column-gap: 10px;
                            margin: 0 30px;
                        }

                        #radarFiltragemForm > lable{
                            flex-basis: calc((100% - 10px * 2) / 3);
                        }
                    }

                    @media (max-width: 1530px){
                        #radarFiltragemForm{
                            margin: 0 16px;
                        }
                    }

                    @media (max-width: 1420px){
                        #radarFiltragemForm > lable{
                            flex-basis: calc((100% - 20px) / 2);
                        }
                    }

                    @media (max-height: 700px){
                        #mapaDataClick > h2{
                            margin-top: 30px;
                        }
                    
                        #mapaDataClick > h3{
                            font-size: 1.1em;
                        }
                    
                        #mapaDataClick > h4{
                            margin-top: 0;
                            margin-bottom: 16px;
                            font-size: 1.2em;
                        }
                    }

                    @media (max-width: 1350px){
                        #mapaDataClick > h2{
                            font-size: 1.95em;
                        }
                    }

        #radarFiltragemForm > lable:has(.naoRemover){
            animation: naoTirar 200ms linear;

            color: rgb(255 29 70);
            text-shadow: rgb(255 29 29 / 61%) 0 0 10px;
            font-weight: 600;
            scale: 1.1;
            transition: color 100ms, text-shadow 100ms, scale 100ms;
        }

        @keyframes naoTirar {
            0%, 100%{ translate: 0 0; }
            20%, 60%{ translate: -4px 0; }
            40%, 80%{ translate: 4px 0; }
        }

        #radarFiltragemForm > lable > input[type="checkbox"]{
            float: right;
        }
