.UFO{
    position: absolute;
}
    .UFO, .UFO > object{
        height: auto;
    }

    .UFO > object{
        position: absolute;
        width: 100%;
    }

    .UFO > .ovni_raio{
        
    }

    .UFO > .ovni_vaca{
        transform-origin: top center;
        box-sizing: border-box;
        padding: 0 20%;
    }